#clock {
    color: lightseagreen;
    font-size: 40px;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
  }
  body {
    background-image: url("../Images/1.png");
    background-image: url("../Images/sky1.jpg!d");
    background-size: 1990px 1000px;
    /* background-repeat: no-repeat; */
    padding-bottom: 30px;
  }
  
  table {
    color: teal;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 100px;
    width: 920px;
    height: 400px;
  }
  tr{
    padding-left: 100px;
  }
  #btn2 {
    margin-left: 20px;
  }
  
  input[type="text"],
  input[type = "password"],
  input[type="number"],
  input[type="date"],
  select,
  textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #cccc;
    border-radius: 5px;
    margin: 10px;
  }
  input[type="submit"],
  input[type="reset"] {
    background-color: #4daeee;
    color: white;
    padding: 12px 0px 12px 0px;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    width: 95%;
  }
  input[type="reset"]:hover {
    background-color: #4caf84;
  }
  input[type="submit"]:hover {
    background-color: #4caf84;
  }
  ul#addict li {
    display: inline;
    padding: 10px;
  }
  h1 {
    font-size: 3.5vw;
  }
  .display_cont {
    color: teal;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 720px;
    padding: 40px;
    width: 400px;
    height: 100px;
  }
  